In [1]:
import json
import geopandas as gpd
import pandas as pd

In [2]:
geo = gpd.read_file("municipios.geojson")

In [3]:
muni = pd.DataFrame(geo)

In [4]:
muni.head()

,cd_mun,nm_mun,sigla_uf,uf,area_km2,an022801,geometry
0,1100015,Alta Floresta D'Oeste,RO,11.0,7067.127,0.0,"MULTIPOLYGON (((-62.19465 -11.82746, -62.19332..."
1,1100023,Ariquemes,RO,11.0,4426.571,0.0,"MULTIPOLYGON (((-62.53648 -9.73222, -62.52765 ..."
2,1100031,Cabixi,RO,11.0,1314.352,0.0,"MULTIPOLYGON (((-60.37119 -13.36655, -60.37134..."
3,1100049,Cacoal,RO,11.0,3793.000,0.0,"MULTIPOLYGON (((-61.0008 -11.29737, -61.00103 ..."
4,1100056,Cerejeiras,RO,11.0,2783.300,0.0,"MULTIPOLYGON (((-61.49976 -13.00525, -61.49809..."

In [5]:
muni.drop(columns="geometry", inplace=True)

In [6]:
muni.head()

    cd_mun                 nm_mun sigla_uf    uf  area_km2  an022801
0  1100015  Alta Floresta D'Oeste       RO  11.0  7067.127       0.0
1  1100023              Ariquemes       RO  11.0  4426.571       0.0
2  1100031                 Cabixi       RO  11.0  1314.352       0.0
3  1100049                 Cacoal       RO  11.0  3793.000       0.0
4  1100056             Cerejeiras       RO  11.0  2783.300       0.0

In [54]:
muni.to_json("0_municipios.json", orient="table", indent=4)

In [14]:
municipios_brasileiros = pd.read_json("/home/alexandrecgn/DevOps/buscador_do_patrim√¥nio/municipios/0_municipios.json")

In [7]:
municipios_brasileiros.head()

                  nm_mun sigla_uf
0  Alta Floresta D'Oeste       RO
1              Ariquemes       RO
2                 Cabixi       RO
3                 Cacoal       RO
4             Cerejeiras       RO

In [10]:
uf = "AP"
cidades = []

In [17]:
for cidade in municipios_brasileiros["features"]:
    cidades.append(cidade["nm_mun"])